<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="chat">Edit Chat</h2>

    <div>
        
        <form action="/chat/<%= chat.id %>?_method=PUT" method="POST">
            <p class="labels"><i class="maroon">From :</i><%= chat.from %></p>
            <p class="labels"><i class="maroon">To :</i><%= chat.to %></p>
            <label for="msg" class="labels"><i class="maroon">Message :</i></label>
            <textarea name="msg" id="msg"><%= chat.msg %></textarea>
            
            <button>Submit Chat</button>
        </form>
        
    </div>
</body>
</html>